p {
    font-size: 26px;
}
.BlueCla, .tiffCla {
    width: 300px;
    height: 35
    px;
    padding: 10px 10px 10px 10px;
    margin: auto;
    margin-top: 8px;
    color: rgb(153, 153, 153);
    background: rgb(37, 37, 37);
    border-left: solid 10px rgb(47, 144, 255);
    text-align: left;
    font-family: 'Helvetica';
    font-size: 18px;
}
.ano {
    font-size: 9px;
    color: rgb(68, 68, 68);
}
.tiffCla {
    border-left: solid 10px rgb(16, 217, 231);
    font-size: 9px;
    height: 60px;
}
.perfil {
    display: block;
}
#fukinRed {
    color: rgb(199, 0, 0);
}
#fukinTiff {
    color: rgb(25, 216, 216);
}
button {
    background: rgb(43, 43, 43);
    color: rgb(73, 73, 73);
    font-size: 8px;
    border: 0px;
}
button:hover {
    background: #c3002f;
    color: whitesmoke;
    border: 0px;
}
.closeButton {
    text-align: right;
    z-index: 2;
    height: 2px;
    padding: 0 4px 0 0;
}